/* .roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
} */

:root {
    --gap-section-top: 4rem;
    --gap-section-bottom: 3rem;
    --hud-padding-mobile: 1vh;
    --hud-padding-desktop: 1rem;
    --section-padding-desktop: 15px;
    --greengeeks-height: 2rem;
    --logo-color-accent:#004c8a;
    --logo-color-main:#00a2f0;

    --blue-lightest: #beecfb;
    --blue-light: #96e3ed;
    --blue-mid: #54cdf3;
    --blue-bright: #00a2f0;
    --navy-lightest: #091b3e;
    --navy-dark: #020421;
    --navy-darkest: #000315;
    --green-light: #67d467;
    --green-bright: #32b032;
    --purple-deep: #1c01a4;
}


:root {
    --gap-section-top: 4rem;
    --gap-section-bottom: 3rem;
    --text-1: #e1fafa;
}

body {
    background-color: var(--navy-dark);
    color: var(--blue-lightest);
    border-color: var(--blue-light);
}

h2 {
}


/* ************************* */
/*       Backgrounds         */
/* ************************* */

#homeBkgdContainer {
    z-index: -1;
}

.bkgd-gradient {
    background: radial-gradient(
        closest-side at 50% 40%,
        var(--navy-lightest) 7%,
        var(--navy-dark) 83%,
        #000214 100%
    );
}


/* ************************* */
/*       Navbar / menu       */
/* ************************* */

#hamburger svg {
    stroke:var(--blue-light);
}
#menu {
    background-color: black;
    outline: 2px solid #002e20;
}    
#menu h4:hover, #menu span:hover {  
    background-color: #002e20;
}



/* ******************************* */
/*   Portfolio & Special Effects   */
/* ******************************* */

.folioItemsWrapper article,
.folioItemsWrapper img,
.effectsItemsWrapper article,
.effectsItemsWrapper iframe {
    border: 1px solid #dff7d9;
}

#SFX_interactive {
    color: var(--green-light);
    outline: 3px solid var(--green-bright);
    background-color: var(--purple-deep);
}

.SFX_thumbnail svg, .arrow svg {
    stroke: #dff7d9;
}

/* ************************* */
/*     "About" section     */
/* ************************* */

.about-quote {
    background-color: var(--navy-lightest);
}

/* ************************* */
/*     "Contact" section     */
/* ************************* */

input, textarea {
    color: #dff7d9;
    background-color: black;
} 

#messageSent {
    background-color: black;
    border: 4px solid #04003a;
}

button {
    background-color: #002e20;
    color: #dff7d9;
}


/* ************************* */
/*      "Mode" buttons       */
/* ************************* */

#modes {
    background-color: #44444488;
    outline: 2px solid #888888;
}

.mode-button.active {
    outline: 6px solid #888888;
}

.modeButton .hoverText {
    background-color: #002017AA;
    color: var(--blue-lightest);
}

.modeButton {
    background-color: #00291dDD;
}

.modeButton svg {
    fill: #dff7d988;
}

/* div #dark {
    outline: 2px solid var(--text-1);
} */