:root {
    --gap-section-top: 4rem;
    --gap-section-bottom: 3rem;
    --bkgd-1: #005500;
    --text-1: #AAFFAA;
}

body {
    background-color: var(--bkgd-1);
    color: var(--text-1);
    /* text-shadow: 0 0 4px var(--text-1); */
    border-color: var(--text-1);
}
