:root {
    --bkgd_lm: #FFFFFF;
    --menu_lm_edges: #FFFFFFBF;

    --blue_lm_lightest: #0088f0;
    --blue_lm_light: #0054b2;
    --blue_lm_dark: #003294;
    --blue_lm_darkest: #00187a;
    --hero-text-shadow-lm: #a0d1f6;

    --lm_pastel_blue: #c5eefb;
    --lm_pastel_green: #b9e4b9;
    --lm_pastel_purple: #b2a8e0;
    --SFX-bkgd: #FFFFFFAA; 
    --lm_ripple_click: #2a992a;
}
body {
    background-color: var(--bkgd_lm);
    color: var(--blue_lm_darkest);
}
h2 {color: var(--blue_lm_lightest);}
h3 {color: var(--blue_lm_light);}

/* ************************* */
/*       Backgrounds         */
/* ************************* */

.landing-waves {opacity: 0.3;}
.landing-waves-aqua {opacity: 0.6;}
.lightshaft {display: none;}
/* .bkgd-gradient-lm-green {
    background: linear-gradient(
        var(--bkgd_lm),
        var(--lm_pastel_green)
    );
}
.bkgd-gradient-lm-purple {
    background: linear-gradient(
        var(--bkgd_lm),
        var(--lm_pastel_purple)
    );
} */
/* .bkgd-gradient-lm-portfolio {
    background: linear-gradient(
        to right,
        var(--lm_pastel_blue),
        var(--bkgd_lm) 20%,
        var(--bkgd_lm) 80%,
        var(--lm_pastel_blue)
    )
} */
.rippleClick svg {stroke: var(--lm_ripple_click);}
.rippleInt svg {stroke: var(--blue_lm_light);}

/* ************************* */
/*       Header & Menu       */
/* ************************* */

.logo-accent-color {fill: var(--blue_lm_dark);}
.logo-main-color {fill: var(--blue_lm_lightest);}
#logo:hover {outline: 2px solid var(--blue_lm_lightest);}
#hamburger svg {stroke:var(--blue_lm_lightest);}
#menu {
    background: linear-gradient(
        to right,
        var(--menu_lm_edges),
        var(--bkgd_lm) 20%,
        var(--bkgd_lm) 80%,
        var(--menu_lm_edges)
    );
    box-shadow: 0 0 10px var(--navy-darkest);
}    
#menu h4 {
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--blue_lm_light);
    font-family: "Cooper Black";
    text-shadow: 1px 1px 0 var(--blue_lm_lightest);
}
#menu h4:hover, #menu span:hover {  
    color: var(--blue_lm_darkest);
    background-color: var(--lm_pastel_blue);
}
#holograph-icon svg {
    stroke: var(--blue_lm_dark);   
    border: 3px solid var(--blue_lm_dark);
    background-color: var(--bkgd_lm);
}
#holograph-menu span {
    color: var(--blue_lm_dark);
    border: 2px solid var(--blue_lm_dark);
    background-color: var(--bkgd_lm);
}

/* ******************************* */
/*        Landing page             */
/* ******************************* */

#hero-text-primary > p:first-child {   /* "Make a"  */
    color: var(--blue_lm_lightest);
    text-shadow: 2px 2px 0 var(--hero-text-shadow-lm);
}
#hero-text-secondary {
    color: var(--blue_lm_light);
    text-shadow: 2px 2px 0 var(--hero-text-shadow-lm);
}
#hero-text p:nth-child(2) {      /* "SPLASH" moving background effect */
    background: 
        url(../img/waves_text_lightmode_front_darker.svg), 
        url(../img/waves_text_lightmode_back_lighter.svg), 
        linear-gradient(
            var(--blue_lm_light), 
            var(--blue_lm_lightest));
    background-repeat: repeat-x, repeat-x;
    -webkit-background-clip: text;
    color: transparent;
    background-position-y: 110%, 80%;
    background-position-x: center, center;
    background-size: 10%, 10%;
    filter: drop-shadow(2px 2px 0 var(--hero-text-shadow-lm));
}
@media screen and (any-hover: none) and (orientation: landscape) {
    #hero-text p:nth-child(2) {background-size: 6%, 6%;}    /* "Splash"  */     
}
@media screen and (hover) and (min-width: 1200px) {
    #hero-text p:nth-child(2) {background-position-y: 140%, 100%;}   /* "Splash"  */       
}
#hero-text-secondary svg {filter: drop-shadow(2px 2px 0 var(--hero-text-shadow-lm));}
.AWIA {background-image: url(../img/AWIA-2025_black.png);}

/* ******************************* */
/*        Special Effects          */
/* ******************************* */

#SFX_interactive {
    outline: 5px solid var(--blue_lm_lightest);
    background-color: var(--bkgd_lm);
}
.SFX_thumbnail svg, .arrow svg {
    stroke: var(--blue_lm_dark);
    border: 1px solid var(--blue_lm_darkest);
}
#Effects hgroup, #SFX_panel {background-color: var(--lm_pastel_green_translucent);}
.active svg {outline: 3px solid var(--blue_lm_darkest);}
.arrow svg:active {border: 4px solid var(--blue_lm_darkest);}

/* ************************* */
/*     "About" section     */
/* ************************* */

.about-quote {
    background-color: var(--SFX-bkgd);
    border: 2px solid var(--lm_pastel_purple);
}

/* ************************* */
/*     "Contact" section     */
/* ************************* */

input, textarea {
    background-color: var(--bkgd_lm);
    opacity: 0.7;
    border: 1px solid var(--blue_lm_dark);
} 
#messageSent {
    background-color: var(--navy-darkest);
    border: 4px solid var(--navy-lightest);
}
#messageSent p {
    color: var(--blue-bright);
    font-size: 1.5rem;
    text-align: center;
}
button, button:enabled {
    background-color: var(--blue_lm_light);
    color: var(--bkgd_lm);
    border: 2px solid var(--blue_lm_darkest);
    font-family: inherit;
    font-size: inherit;
}
button:active {background-color: var(--blue_lm_lightest);}


/* ************************* */
/*      Footer               */
/* ************************* */

footer {background-color: var(--navy-darkest);}