@font-face {
    font-family: "Yellow Submarine";
    src: url(../fonts/YellowSubmarine/YellowSubmarine.TTF);
}

@font-face {
    font-family: Kabel;
    src: url(../fonts/YellowSubmarine/KabelMedium.ttf);
}

body {
    background-color: #FFFFFF;
    font-family: Kabel;
    color: #000000;
}

section:nth-child(odd), footer {
    background: linear-gradient(
        #000088 10vh,
        #3388FF 110vh
    );
    color: #FFFFFF;
}

section:nth-child(odd) > .sectionWrapper, footer {
    text-shadow: 0 0 5px #000000;
}

section:nth-child(even) {
    background-image: url(../img/ys_flowers.png), url(../img/ys_holes.svg);
    background-size: max(50vh, 50vw), 100vw;
    background-position: bottom right, top;
    background-repeat: no-repeat, repeat-y;
}

section:nth-child(even) hgroup:not(:last-child) {
    background-color: #FFFFFF88;
}
section {
    box-shadow: none;      /* to clear box shadow after neon.css */
}

h1, h2 {
    font-family: "Yellow Submarine";
    transform: scale(1.2, 1);
    /* letter-spacing: 0.1rem; */
    color: #ffd301;
    text-shadow: 
      -1px -1px 0 #000000,
      -1px 1px 0 #000000,
      1px 1px 0 #000000,
      1px -1px 0 #000000
    ;
}

#Home h2 {
    font-family: Kabel;
    font-size: 2em;
    /* color: #FFFFFF; */
}

#Home p {
    margin: 0.5rem 0;
}

email {
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    background-image: url("../img/logo_yellowsub.png");
}

footer {
    margin: 0;
    padding: 10vh;
}


/* ************************* */
/*       Navbar / menu       */
/* ************************* */

nav p {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    outline: 3px solid #e41b13;
    border-radius: 100px;
    background-color: #000000;
}

#hamburger svg {
    stroke: #e41b13;
    filter: drop-shadow(0 0 1px #000000);
}

#menu {
    /* background-color: #ffd301; */
    background: linear-gradient(
        135deg,
        #ffd301 70%,
        #FFFFFF
    );
    outline: 5px solid #e41b13;
    border-radius: 100px 0 0 100px;
    box-shadow: 0 0 20px 10px #00000088;
}    

#menu h4, #menu span {
    color: #000000;
}

#menu h4:hover, #menu span:hover {  
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 100px;
    outline: 3px solid #e41b13;
    /* box-shadow: 0 2px 8px #00000022; */
}


/* ************************* */
/*    Background effects     */
/* ************************* */

#homeBkgdContainer {
    z-index: 0;
}

#squaresDiv {
    background-color: #e41b13ff;
}

#binaryDiv {
    background: linear-gradient(
        110deg, 
        #ffd30188 0%,
        #e41b1388 5%,
        #04437d88 10%,
        #009fcd88 15%,
        #ffd30188 20%,
        #e41b1388 25%,
        #04437d88 30%,
        #009fcd88 35%,
        #ffd30188 40%,
        #e41b1388 45%,
        #04437d88 50%,
        #009fcd88 55%,
        #ffd30188 60%,
        #e41b1388 65%,
        #04437d88 70%,
        #009fcd88 75%,
        #ffd30188 80%,
        #e41b1388 85%,
        #04437d88 90%,
        #009fcd88 95%,
        #ffd30188 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 500vw 28rem;   
}


/* ******************************* */
/*   Portfolio & Special Effects   */
/* ******************************* */

.int::after {
    background-color: #000000;
    color: #FFFFFF;
    outline: 5px solid #e41b13ff;
}


/* ************************* */
/*     "Contact" section     */
/* ************************* */

fieldset {
    background: #FFFFFF88;
}


/* ************************* */
/*      "Mode" buttons       */
/* ************************* */

.modeButton .hoverText {
    background-color: #ffd301;
    color: #000000;
    border-radius: 100px;
    border: 4px solid red;
    padding: 3px 8px;
}

.modeButton {
    background-color: #FFFFFFAA;
}

.modeButton svg {
    fill: #00000088;
}

div #yellowsub {
    outline: 3px solid #ffd301;
}
