#aboutParagraphs {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin: 0 5vw;
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {
        margin: 0;
    }
    @media screen and (any-hover: none) and (orientation: portrait) and (min-width: 786px) {
    }
    @media screen and (hover),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
    }
}
.about-quote {
    border-radius: 0.5rem;
    width: 80vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (hover: none) and (orientation: portrait) and (max-width: 785) {
        border-radius: 0.5rem;
        width: 80vw;
        padding: 1rem;
    }
    @media screen and (hover) {
        width: 20rem;
    }
}
.about-quote p:first-of-type {    /* the quote */
    font-size: 1.3rem;
    text-align: center;
}
.about-quote p:nth-of-type(2) {    /* the author */
    font-size: 0.9rem;
    text-align: right;
    margin-top: 1rem;
}
.about-quote a {text-decoration: none;}
#About div.section-text-contents:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#available-now {
    max-width: 670px;
    margin: 0 auto;
}
#available-now p {
    margin: 5vw 0 0 5vw;
    max-width: 670px;
    @media screen and (min-width: 786px) {
        margin-left: 1.4rem;
    }
    @media screen and (hover) {
        margin: 1rem 0 0 0;
    }
}
#About ul {padding-left: 1.4rem;}
hgroup#more-of-my-work, #aboutMoreSpecsLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
}
#aboutMoreSpecsLinks {padding-left: 1.4rem;}
span.linky {font-weight: bold;}
#About #about-main-text {
    display: flex;
    flex-direction: column;
    @media screen and (hover) and (min-width: 786px), 
    screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {
        flex-direction: row;
        gap: 1rem;
    }
    @media screen and (hover) and (min-width: 1024px),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        flex-direction: row;
        gap: 2rem;
    }
}
@media screen and (hover) and (min-width: 786px), 
    screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {
    #aboutMoreSpecs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 0.3rem     /* to match the li padding next to it, so they align at their lower edges */
    }
}