.bkgd {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -4;
    overflow: hidden;
}

/* Background gradient for landing section */

.landing-radial-gradient {
    position: absolute;
    width: 120%;
    left: -10%;
    background: radial-gradient(
        #0bffe425,
        #0bffe400 70%
    );
}
.landing-radial-gradient:first-child {
    height: 75%;
    top: 0;
}
.landing-radial-gradient:last-child {
    height: 35%;
    bottom: 5%;
}
/* Ripples for landing section background */

.ripple {
    position: absolute;
    transform-origin: 50%;
    text-align: center;
}
#ripples svg {
    fill: none;
    transition: all 3s linear;
    animation: fadeInterval 3s linear 1;
    transform-origin: 50%;
}
@keyframes fadeInterval {
    from {
        opacity: 0.5;
        transform: scale(0.01);
    }
    to {
        opacity: 0;
        transform: scale(3);
    }
}

/* Decorative background waves */

.landing-waves {position: absolute;}
.landing-waves img {
    height: 38vh; width: auto;
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 786px) {
        height: 65vh; width: auto;
    }
    @media screen and (hover),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        height: 17rem; width: auto;
    }
}
.landing-waves-aqua {  
    transform: scaleY(-1);
    right: 28vw;
    bottom: 5%;
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 786px) {
        left: -45vw;
        bottom: 0;
    }
    @media screen and (hover),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        right: 55vw;
        bottom: 0;
    }
}
.landing-waves-green { 
    transform: scaleY(-1);
    left: 30vw;
    top: 17%;
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {
        left: 55vw;
        top: 10vh;
    }
    @media screen and (hover),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        left: 50vw;
        top: 25vh;
    }
}
.landing-waves-purple {  
    left: -10vw;
    top: 2%;
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {
        left: 40vw;
        top: -30vh;
    }
    @media screen and (hover),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        left: 27vw;
        top: 10vh;
    }
}
#Portfolio .landing-waves-aqua {  
    bottom: unset;
    top: 70vh;
    @media screen and (hover) and (min-width: 1024px),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        top: 40vh;
    }
}
#Portfolio .landing-waves-green {    
    top: unset;
    bottom: 10vh;
    @media screen and (hover),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        left: 60vw;
    }
}
@media screen and (hover),
  screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
    #Portfolio .landing-waves-purple {left: 55vw;}
}

/* Light shafts background */

#lightshafts-group {
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: -3;
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {
        top: 2vh;
        height: 120%;
    }
    @media screen and (hover),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        height: 100%;
    }
}
.lightshaft {
    width: 5rem;
    height: 110vh;
    top: -18vh;   /* to get rid of blur at top of light shafts */
    left: -30vw;
    transform-origin: 50% -40%; 
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    animation-name: lightshafts;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {
        left: 0;
        top: -5h;
    }
    @media screen and (any-hover: none) and (orientation: portrait) and (min-width: 786px) {
        width: 8rem;
        top: -20rem;
    }
    @media screen and (hover),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        width: 5rem;
        left: calc(10vw - 4rem);
        top: -6rem;
    }
}
.lightshaft:nth-child(1) {
    transform: rotate(-15deg);
    animation-duration: 2.3s;
}
.lightshaft:nth-child(2) {
    transform: rotate(-19deg);
    animation-duration: 3.1s;   
}
.lightshaft:nth-child(3) {
    transform: rotate(-21deg);
    animation-duration: 1.9s;
    animation-delay: 1.5s;
}
.lightshaft:nth-child(4) {
    transform: rotate(-24deg);
    animation-duration: 3.7s;
}
.lightshaft:nth-child(5) {
    transform: rotate(-26deg);
    animation-duration: 2.9s;
}
.lightshaft:nth-child(6) {
    transform: rotate(-27deg);
    animation-duration: 1.7s;
    animation-delay: 1s;
}
@keyframes lightshafts {
    from {opacity: 1}
    to {opacity: 0.4}
}