.asterisk {color: rgb(255, 27, 50);}
#messageSent {
    opacity: 0.9;
    box-sizing: border-box;
    width: 80%;
    padding: 2rem;
    position: absolute;
    top: 10%;
    left: 10%;
}
#messageSent span {
    font-size: 3rem;
    line-height: 1.5rem;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    cursor: pointer;
}
#messageSent p {
    font-size: 1.5rem;
    text-align: center;
}
#disclaimer {
    font-size: 0.8rem;
    font-style: italic;
    width: 90%;
    margin: auto;
}
form {
    width: 100%;
    margin: 0 auto;
}

/* Copied from aquaearth: */

fieldset {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media screen and (hover) {
        padding: 0.5rem 1rem;
        gap: 1rem;
    }
}

.inputText, .labelText, #buttonsWrapper {
    display: block;
    width: 100%;
}

.inputText {
    padding: 0.3rem 0.5rem;
}

#buttonsWrapper, #nameAndEmail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (min-width: 786px) {
        flex-direction: row;
    }
    @media screen and (hover) and (max-width:785px) {
        gap: 1rem;
    }
    @media screen and (hover: none) and (max-width:785px) {
        gap: 3vw;
    }
}

#buttonsWrapper button {
    padding: 0.2rem 0;
    font-size: 1rem;
    line-height: 1.1rem;
}

#userNameWrapper, #returnAddressWrapper, #buttonsWrapper button {
    width: 100%;
    @media screen and (min-width:786px) {
        width: 48%;
    }
}