/* Miscellaneous elements on landing screen */

h1.screen-reader-only {
    clip: rect(0,0,0,0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
}
#Home {
    font-family: "Courier Prime";
    @media screen and (any-hover: none) and (orientation: portrait) and (max-width: 785px) {
        padding: 0 5vw;
    }
}

/* GreenGeeks and AWIA badges */

.badges {
    display: flex;
    justify-content: right;
    align-items: top;
    gap: var(--hud-padding-desktop);
    height: var(--badge-height);
}

#badges_mobile {
    @media screen and (hover),
    screen and (hover: none) and (orientation: landscape) and (max-height: 785px) {
        display: none;
    }
}
#badges_desktop {
    display: none;
    @media screen and (hover),
    screen and (hover: none) and (orientation: landscape) and (max-height: 785px)  {
        display: flex;
        position: absolute;
        bottom: var(--hud-padding-desktop);
    }
    @media screen and (hover) {
        right: calc(var(--hud-padding-desktop) + 16px);
    }
    @media screen and (hover: none) and (orientation: landscape) and (max-height: 785px)  {
        right: var(--hud-padding-desktop);
    }
}
.badges a {
    height: 100%;
    width: auto;
}
.badges img {
    height: 100%;
    width: auto;
}
.opacity-zero {opacity: 0;}  /* Background image is controlled by dark/light-mode stylesheet; size is controlled via this invisible element. */
a.AWIA {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.7; 
    height: 85%;
}

/* Hero text elements */

#hero-text {
    margin-top: 23vh;     
    position: relative;     /* position needs to not be set to "static" to allow this layer to stack above the absolute-positioned background layers (incl the ripples layer) */
    @media screen and (any-hover: none) and (orientation: landscape) {
        margin-top: 20vh;
    }
    @media screen and (any-hover: none) and (orientation: portrait) and (min-width: 786px) {
        margin-top: 30vh;
    }
    @media screen and (hover), 
    screen and (any-hover: none) and (orientation: portrait) and (min-width: 786px),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        margin: 20vh auto 0 auto;
        width: max-content;
    }
}
#hero-text-primary {
    position: relative;
    @media screen and (hover), 
    screen and (any-hover: none) and (orientation: portrait) and (min-width: 786px),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        max-width: 1024px;
        margin: 0 auto;
    }
}
#hero-text-primary > p:first-child {     /* "Make a"  */
    font-size: 13vw;
    @media screen and (any-hover: none) and (orientation: landscape){   
        font-size: 13vh;
        position: relative;
    }    
    @media screen and (hover: none) and (orientation: landscape) and (max-height: 785px) {
        left: 15vw;
    }
    @media screen and (hover) and (min-width: 600px) and (max-width: 785px),
    screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {    
        margin-left: 1rem;
    }

    @media screen and (hover), 
    screen and (any-hover: none) and (orientation: portrait) and (min-width: 786px),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        font-size: clamp(2.5rem, 9vw, 5rem);
        line-height: 2rem;
    }
    @media screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        margin-left: -7vw;
    }
} 
#hero-text p:nth-child(2) {      /* "Splash"  */
    text-transform: uppercase;
    font-family: "Cooper Black";
    font-size: 21.2vw;
    text-align: center;
    @media screen and (any-hover: none) and (orientation: landscape) {
        font-size: 26vh;
    }
    @media screen and (hover), 
    screen and (any-hover: none) and (orientation: portrait) and (min-width: 786px),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {  
        font-size: clamp(5rem, 18vw, 12rem);
    }
}
#hero-text-secondary {
    position: relative;
    margin: 18vh auto 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 2rem;
    @media screen and (hover) {
        width: max-content;
    }
    @media screen and (hover) and (min-width: 600px) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }  
    @media screen and (hover) {    
        margin-top: 10vh;
        gap: 1.9rem;
    }    
    @media screen and (hover) and (min-width: 786px)  {
        gap: clamp(2rem, 4.8vw, 3.5rem);
    }
    @media screen and (hover) and (min-width: 1024px) {
        gap: 3.5rem;
    }
    @media screen and (hover) and (min-width: 1200px) {
        gap: 4.5rem;
    }
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {    
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 1.8rem;
        margin-top: 5vh; 
    }    
    @media screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px), 
    screen and (any-hover: none) and (orientation: portrait) and (min-width: 786px) {
        margin-right: 0;
        width: 100%;
        margin-top: calc(20vh - 10rem);
    }
}
 #hero-text-secondary p { 
    @media screen and (hover) and (min-width: 600px) and (max-width: 785px) {    
        width: 16rem;
        text-align: right;
    }
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {    
        width: 16rem;
        text-align: right;
    }
}
#hero-text-secondary span {
    display: block;
    min-width: max-content;
    text-align: right;
    font-size: 1.3rem;
    line-height: 1rem;
    @media screen and (hover) {
        font-size: 1.2rem;
        line-height: 1rem;
    }
    @media screen and (hover) and (min-width: 600px) and (max-width: 785px) {    
        display: inline;          /* This rule is for getting the secondary hero text onto two lines instead of three */
        font-size: 1.3rem;
        line-height: 1.1rem;
    }
    @media screen and (hover) and (min-width: 786px)  {
          font-size: 1.4rem;
          line-height: 1.2rem;
    }
    @media screen and (hover) and (min-width: 1024px) {
        font-size: 1.7rem;
        line-height: 1.4rem;
    }
    @media screen and (hover) and (min-width: 1200px) {
        font-size: 1.9rem;
        line-height: 1.6rem;
    }
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {    
        display: inline;          /* This rule is for getting the secondary hero text onto two lines instead of three */
        font-size: 1.3rem;
        line-height: 1.1rem;
    }
    @media screen and (any-hover: none) and (orientation: portrait) and (min-width: 786px),
    screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        font-size: 3.5vw;
        line-height: 3vw;
    }
}
#hero-text-secondary svg {
    width: 100%; 
    height: auto;
    @media screen and (hover) {
        height: 3rem;   
        width: auto;
    }
    @media screen and (hover) and (min-width: 786px) {
        height: 3.2rem;
    }
    @media screen and (hover) and (min-width: 1024px) {
        height: 4rem;
    }
    @media screen and (hover) and (min-width: 1200px) {
        height: 4.6rem;
    }
    @media screen and (hover) and (min-width: 600px) and (max-width: 785px) {    
        height: 2.1rem;
    }
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {    
        height: 2.1rem;
    }
}
