@media screen and (any-hover: none) and (orientation: landscape){
}

@media screen and (hover) and (max-width: 599px) {
}

@media screen and (hover) and (min-width: 786px) {
}

@media screen and (hover) and (min-width: 1023px) {
}

@media screen and (hover) and (min-width: 1200px) {
}

@media screen and (hover) and (min-width: 1366px) {
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~ Site-wide settings ~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


:root {
    --gap-section-top: 4rem;
    --gap-section-bottom: 3rem;
    --hud-padding-mobile: 1vh;
    --hud-padding-desktop: 1rem;
    --section-padding-desktop: 15px;
    --greengeeks-height: 2rem;
    /* --logo-color-accent:#004c8a;
    --logo-color-main:#00a2f0;

    --blue-lightest: #beecfb;
    --blue-light: #96e3ed;
    --blue-mid: #54cdf3;
    --blue-bright: #00a2f0;
    --navy-lightest: #091b3e;
    --navy-dark: #020421;
    --navy-darkest: #000315;
    --light-rays-start: #0bffe436;
    --light-rays-end: #0bffe400; 
    --green-light: #67d467;
    --green-bright: #32b032;
    --purple-deep: #1c01a4; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    overflow-x: hidden;
    width: 100dvw;
}

body {
    background-color: var(--bkgd-1);
}

/* Mobile, portrait orientation */

section {
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}
#About, #Contact, #Portfolio, #Plan {
    display: none;
}

section:not(#Home) {
    padding: 9vh 2vw 1vh 2vw;
}
/* Mobile, landscape orientation */

@media screen and (any-hover: none) and (orientation: landscape) {
    section:not(#Home) {padding: 3vh 2vw 5vh 14vw;}
}

/* Desktop */

@media screen and (hover) {
    section:not(#Home) {
        padding: 6rem var(--section-padding-desktop) 0 var(--section-padding-desktop);
    }
}
@media screen and (any-hover: hover) and (max-width: 599px) {
    section:not(#Home) {width: 400px;}
}
@media screen and (any-hover: hover) and (min-width: 600px) and (max-width: 785px) {
    section:not(#Home) {width: 550px;}
}
@media screen and (any-hover: hover) and (min-width: 786px) and (max-width: 1023px) {
    section:not(#Home) {width: 700px;}
}
@media screen and (any-hover: hover) and (min-width: 1024px) {
    section:not(#Home) {width: 960px;}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Site-wide typography ~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {font-family: "Roboto Mono", monospace;}

.subheading {   /* Class is used on hgroups, not on h2 tags */
    text-align: center;
    margin-bottom: 2.5vh;
}

h2 {
    font-family: "Cooper Black";
    font-size: 1.8rem; 
    margin-bottom: 2.5vh;
}
p, li {
    font-size: 0.9rem; 
    /* z-index: 2; */
}
a {color: inherit;}

/* Desktop */

@media screen and (any-hover: hover) {
    .subheading {   /* Class is used on hgroups, not on h2 tags */
        /* margin-bottom: 2.5vh; */
    }
    h2 {font-size: 3rem;}
    h3{
        font-size: 1.6rem;
        font-weight: bold;
    }
    section:not(#Home) p, li {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.logo-accent-color {
  fill: var(--logo-color-accent);
  stroke: var(--logo-color-accent);
}

.logo-main-color {
  fill: var(--logo-color-main);
}

#logo {
    position: relative;
    z-index: 3;
    width: min(15vw, 15vh);
    height: auto;
    margin: var(--hud-padding-mobile);
    border-radius: 0.3rem;
}

#logo:hover {
    outline: 2px solid var(--logo-color-accent);
}

@media screen and (hover) {
    #logo {width: 4rem;}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~  Home/landing section  ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


#Home {font-family: "Courier Prime";}

h1.screen-reader-only {
    clip: rect(0,0,0,0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
}

#greenGeeks_landing {
    position: absolute;
    right: var(--hud-padding-mobile);
    bottom: var(--hud-padding-mobile);
    margin-right: var(--hud-padding-mobile);
}
#greenGeeks_landing img {
    height: var(--greengeeks-height);
    width: auto;
}
@media screen and (hover) {
    #greenGeeks_landing {
        right: var(--hud-padding-desktop);
        bottom: var(--hud-padding-desktop);
    }
}

/* Main elements on landing screen */

#hero-text {
    margin-top: 23vh;     
    position: relative;     /* position needs to not be set to "static" to allow this layer to stack above the absolute-positioned background layers (incl the ripples layer) */
}
#hero-text-primary {
    position: relative; 
}
#hero-text-primary > p:first-child {      /* "Make a"  */
    font-size: 13vw;
    text-shadow: 2px 2px 0 #000000;  
}
#hero-text p:nth-child(2) {      /* "Splash"  */
    text-transform: uppercase;
    font-family: "Cooper Black";
    font-size: 21.2vw;
    filter: drop-shadow(2px 2px 0 #000000);
}
#hero-text-secondary {
    position: relative;
    margin: 18vh auto 0 auto;  
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 2rem;
    text-shadow: 2px 2px 0 #000000;
}
#hero-text-secondary span {
    display: block;
    min-width: max-content;
    text-align: right;
    font-size: 1.1rem;
    line-height: 1rem;
}
#hero-text-secondary svg {
    width: 100%; 
    height: auto;
    filter: drop-shadow(2px 2px 0 #000000);
}

@media screen and (any-hover: none) and (orientation: portrait) {
    #Home {padding: 0 5vw;}
}

@media screen and (any-hover: none) and (orientation: landscape) {
    #hero-text-secondary {        /* (same as for desktop) */
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 1.8rem;
        margin-top: 5vh;
    }
    #hero-text {
        margin-top: 10vh;
    }
    #hero-text-primary > p:first-child {      /* "Make a"  */
        font-size: 13vh;
        position: relative;
        left: 15vw;
    }    
    #hero-text p:nth-child(2) {      /* "Splash"  */
        font-size: 26vh;
        text-align: center;
    }
    #hero-text-secondary {
        margin-top: 15vh; 
    }
    #hero-text-secondary span {
        font-size: 5vh;
        line-height: 4.5vh;
    }
}


@media screen and (hover) {
    #hero-text {
        margin: 20vh auto 0 auto;
        width: max-content;
    }
    #hero-text-primary {
        max-width: 1024px;
        margin: 0 auto;
    }
    #hero-text-primary p:first-child {      /* "Make a"  */
        font-size: clamp(2.5rem, 9vw, 5rem);
        line-height: 2rem;
    }
    #hero-text p:nth-child(2) {      /* "Splash"  */
        font-size: clamp(5rem, 18vw, 12rem);
        text-align: center;
    }
    #hero-text-secondary {
        width: max-content;
    }
    #hero-text-secondary span {  /* This is overwritten for screen widths 600px and over */
        font-size: 1.2rem;
        line-height: 1rem;
    }
    #hero-text-secondary svg {
        height: 3rem;   /* This is overwritten for screen widths 600px and over */
        width: auto;
    }
}

@media screen and (hover) and (min-width: 600px) {
    #hero-text-secondary {        /* (same for mobile in landscape orientation) */
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }        
}

@media screen and (hover) and (min-width: 600px) and (max-width: 785px) {    
    #hero-text-primary p:first-child {margin-left: 1rem;}
    #hero-text-secondary p { 
        width: 16rem;
        text-align: right;
        line-height: 1.1rem;
    }
    #hero-text-secondary span { 
        display: inline;    /* This rule is for getting the secondary hero text onto two lines instead of three */
        font-size: 1.3rem;
    }
    #hero-text-secondary {        
        margin-top: 10vh;
        gap: 1.9rem;
    }    
    #hero-text-secondary svg {
        height: 2.1rem;
    }
}

@media screen and (hover) and (min-width: 786px) {
    #hero-text-secondary svg {
        height: 3.2rem;
    }
    #hero-text-secondary {
        gap: clamp(2rem, 4.8vw, 3.5rem);
    }
    #hero-text-secondary span {
        font-size: 1.4rem;
        line-height: 1.2rem;
    }
}

@media screen and (hover) and (min-width: 1024px) {
    #hero-text-secondary svg {
        height: 4rem;
    }
    #hero-text-secondary {
        gap: 3.5rem;
    }
    #hero-text-secondary span {
        font-size: 1.7rem;
        line-height: 1.4rem;
    }
}

@media screen and (hover) and (min-width: 1200px) {
    #hero-text-secondary svg {
        height: 4.6rem;
    }
    #hero-text-secondary {
        gap: 4.5rem;
    }
    #hero-text-secondary span {
        font-size: 1.9rem;
        line-height: 1.6rem;
    }
}

/* "SPLASH" moving background effect */

#hero-text p:nth-child(2) {      /* "Splash"  */
    background: url(../img/waves_text_front_darker.svg), url(../img/waves_text_back_lighter.svg), linear-gradient(var(--blue-light), white 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position-y: 110%, 80%;
    background-position-x: center, center;
    background-size: 10%, 10%;
    background-repeat: repeat-x, repeat-x;
}
@media screen and (any-hover: none) and (orientation: landscape) {
    #hero-text p:nth-child(2) {      /* "Splash"  */
        background-size: 6%, 6%;
    }
}
/* Ripple effect */

#ripples {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.ripple {
    position: absolute;
    transform-origin: 50%;
    text-align: center;
}
#ripples svg {
    fill: none;
    transition: all 3s linear;
    animation: fadeInterval 3s linear 1;
    transform-origin: 50%;
}
.rippleClick svg {
    stroke: #61f399;
}
.rippleInt svg {
    stroke: #2867d4;
}
@keyframes fadeInterval {
    from {
        opacity: 0.5;
        transform: scale(0.01);
    }
    to {
        opacity: 0;
        transform: scale(3);
    }
}

/* Home section background effects */

#home-bkgd-gradients, #home-bkgd-waves {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.landing-radial-gradient {
    position: absolute;
    width: 120%;
    left: -10%;
    background: radial-gradient(
        #0bffe425,
        #0bffe400 70%
    );
}
.landing-radial-gradient:first-child {
    height: 75%;
    top: 0;
}
.landing-radial-gradient:last-child {
    height: 35%;
    bottom: 5%;
}

.landing-waves {
    position: absolute;
}
.landing-waves img {
    height: 38vh; width: auto;
}
.landing-waves:nth-child(1) {  /* aqua */
    transform: scaleY(-1);
    right: 28vw;
    bottom: 5vh;
}
.landing-waves:nth-child(3) {  /* green */
    transform: scaleY(-1);
    left: 30vw;
    top: 17vh;
}
.landing-waves:nth-child(2) {  /* purple */
    left: -10vw;
    top: 2vh;
}


@media screen and (any-hover: none) and (orientation: landscape) {
    .landing-waves img {
        height: 65vh; width: auto;
    }
    .landing-waves:nth-child(1) {  /* aqua */
        left: -45vw;
        bottom: 0;
    }
    .landing-waves:nth-child(2) {  /* purple */
        left: 40vw;
        top: -30vh;
    }
    .landing-waves:nth-child(3) {  /* green */
        left: 55vw;
        top: 10vh;
    }
}

@media screen and (hover) {
    .landing-waves img {
        height: 17rem; width: auto;
    }
    .landing-waves:nth-child(1) {  /* aqua */
        right: 55vw;
        bottom: 0;
    }
    .landing-waves:nth-child(2) {  /* purple */
        left: 27vw;
        top: 10vh;
    }
    .landing-waves:nth-child(3) {  /* green */
        left: 50vw;
        top: 25vh;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~  Portfolio & Special Effects sections  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.folioItemsWrapper, .effectsItemsWrapper {
    width: 100%;
    margin-top: 5vh;
}

article {
    width: 90vw;
    min-width: 300px;
    margin: 5vh auto;
    position: relative;
    box-sizing: border-box;
}

.articleText {padding: 0 5%;}
.articleText h3 {margin-top: 0.5em;}

.effectsItemsWrapper article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.folioItemsWrapper img {
    width: 100%;
    height: auto;
    position: relative;
}   

/* .effectsItemsWrapper iframe {
    width: 100%;
    aspect-ratio: 1.5/1;
    position: relative;
    bottom: 0;
}    */

.int::after {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    white-space: pre;
    position: absolute;
    bottom: -20px;
    right: -10px;    
    transform: rotate(350deg);
    transform-origin: left;
    border-radius: 50px;
    padding: 1% 3%;
    font-size: 1rem;
}

.interactiveMouse::after {
    content: "Interactive! \A Move your mouse or \A tilt your device";
}

.interactiveClick::after {
    content: "Interactive! \A Click to see more";
}


/* Mobile, in landscape */

@media screen and (any-hover: none) and (orientation: landscape) {
    article {
        width: 80vw;
        margin: 10vh auto;
    }
    .folioItemsWrapper img {
        width: 80vw;
        height: auto;
    }
    /* .effectsItemsWrapper iframe {
        aspect-ratio: unset;
        height: 70vh;
        width: 80vw;
    } */
}


/* Desktop, any screen width */

@media screen and (any-hover: hover) {
    article {margin: 0;}
    .folioItemsWrapper, .effectsItemsWrapper {
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
    }
}


    /* Desktop, screen widths below 1000px */

@media screen and (any-hover: hover) and (max-width: 599px) {
    article {width: 390px;}
}

@media screen and (any-hover: hover) and (min-width: 600px) and (max-width: 785px) {
    article {width: 590px;}
}

@media screen and (any-hover: hover) and (min-width: 786px) and (max-width: 1023px) {
    article {width: 650px;}
}


    /* Above 1000px, switch from one column to two */

@media screen and (any-hover: hover) and (max-width: 1023px) {
    .folioItemsWrapper, .effectsItemsWrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 4rem;
    }
}

@media screen and (any-hover: hover) and (min-width: 1024px) {
    .folioItemsWrapper, .effectsItemsWrapper {
        flex-wrap: wrap;
        gap: 4rem;
    }
}


    /* Desktop, screen width 1000px and above */

@media screen and (any-hover: hover) and (min-width: 1024px) and (max-width: 1199px) {
    article {width: 450px;}
}

@media screen and (any-hover: hover) and (min-width: 1200px) {
    article {width: 550px;}
}

@media screen and (any-hover: hover) and (min-width: 1366px) {
    article {width: 600px;}
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~  NEW Special Effects section  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#SFX_contents {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    gap: 3vh;
    width: 90vw;
    margin: 0 auto;
    /* position: relative; */
    /* This element should have position:static, */
    /* so that the position of the iframe will be relative to the section, */
    /* not to this element. */
}

#SFX_iframe {
    position: relative;
    height: 90vw;
    max-height: 50vh;
    width: 100%;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    /* border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1; */
}

#SFX_iframe div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: #00000055;
}

#SFX_iframe iframe {
    height: 100%;
    width: 100%;
}

#SFX_iframe p {
    margin: 0;
}

#SFX_iframe span {
    font-weight: bold;
}

#SFX_panel {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 1;
}

.thumbnails {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 3vw;
    margin: 0 auto;
}

.SFX_thumbnail {
    height: 2.8rem;
    width: 2.8rem;
}

.SFX_thumbnail svg {
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 10%;
}

.active svg {
    outline: 3px solid;
}

.arrowsWrapper {
    display: flex;
    gap: 2rem;
}

.arrow {
    width: 3rem;
    height: 3rem;
}

.arrow svg {
    border: 5px solid;
    border-radius: 10%;
}

@media screen and (any-hover: none) and (orientation: landscape),
       screen and (hover) and (min-width: 1024px) {
    #SFX_contents {
        flex-direction: row;
        align-items: center;
    }
    .thumbnails {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (any-hover: none) and (orientation: landscape) {
    #SFX_iframe {
        height: 50vh;
        width: 50vw;
        max-width: unset;
    }
}

@media screen and (hover) {
    #SFX_iframe {
        height: 50vh;
        width: 70vw;
        max-width: unset;
    }
}

@media screen and (hover) and (min-width: 786px) and (max-width: 1023px) {
    #SFX_iframe {
    }
    #SFX_panel {
        justify-content: space-evenly;
        align-items: center;
    }
    .thumbnails {
        margin: unset;
    } 
}

@media screen and (hover) and (min-width: 1024px) {
    #SFX_iframe {
        width: 80vw;
    }
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~  About section    ~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* #About ul {margin-bottom: 5vh;} */

#About h3 {
}

@media screen and (hover) {
    #About h3 {
        margin-top: 3rem;
    }
}

#aboutParagraphs {display: grid;}

#aboutParagraphs > div {
    border-style: solid;
    border-width: 1px;
}

@media screen and (any-hover: none) and (orientation: portrait) {
    #aboutParagraphs {
        grid-template-rows: repeat(3, fit-content);
        align-items: center;
    }
    #aboutParagraphs > div {
        padding: 0 1rem;
        margin: 1rem 0;
        width: 75vw;
    }
    #aboutParagraphs > div:nth-child(even) {justify-self: right;}
}

@media screen and (any-hover: none) and (orientation: landscape) {
    #aboutParagraphs {grid-template-columns: repeat(3, 1fr);}
    #aboutParagraphs > div {
        padding: 0 1vw;
        margin: 1vw;
    }
    #aboutOffer, #aboutMoreSpecs {
        width: 60vw;
        margin-left: 10vw;
    }
}

@media screen and (hover) {
    #About > div.sectionWrapper:last-child {
        display: grid;
    }
    #aboutParagraphs {
        gap: 1rem;
    }
    #aboutParagraphs > div {
        padding: 0 2rem;
    }
    #aboutMoreSpecsLinks {
        display: flex;
        gap: 1rem;
    }
    p.p-outline {
        margin: 0;
    }
}

@media screen and (hover) and (max-width: 599px) {
}

@media screen and (hover) and (max-width: 785px) {
    #aboutMoreSpecsLinks {
        flex-direction: column;
    }
}

@media screen and (hover) and (min-width: 600px) and (max-width: 1023px) {
    #aboutParagraphs {
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
    }
    #aboutParagraphs > div {
        width: 75%;
    }
    #aboutParagraphs > div:nth-child(even) {justify-self: right;}
}

@media screen and (hover) and (min-width: 1024px) {
    #aboutParagraphs {grid-template-columns: repeat(3, 1fr);}
    #aboutParagraphs > div {
        padding: 0 1rem;
        margin: 1rem;
    }
}

@media screen and (hover) and (min-width: 1200px) {
    #About > div.sectionWrapper:last-child {
        column-gap: 5rem;
        grid-template-columns: 45% 55%;
        grid-template-rows: repeat(3, fit-content);
    }
    #aboutParagraphs {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #aboutOffer {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #aboutMoreSpecs {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    #aboutMoreSpecsLinks {
        flex-direction: column;
    }
}

#About ul {
    padding-left: 1.4rem;
}

/* #about-li-github {
    list-style-type: "\F09B";
}
#about-li-codepen {
    list-style-type: ;
} */

.p-outline {
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
}

#aboutMoreSpecs a {
    text-decoration: none;
}

span.linky {
    text-decoration: underline;
}

#About li {
    /* list-style-type: "\21AA"; curved arrow*/
    /* list-style-type: "\21E8"; open arrow */
    /* list-style-type: "\2724"; four-pointed teardrop asterisk */
    /* list-style-type: "\274B"; eight-pointed teardrop astersk */
    /* list-style-type: "\2767"; ornamental leaf */
    /* list-style-type: "\233E"; concentric circles */
    /* padding-left: 0.2rem; */
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~  The Plan section    ~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#Plan div.grid-5-items {
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(5, fit-content);
}

#Plan p {
    padding: 1rem;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    z-index: inherit;
}

@media screen and (hover) {
    #Plan div.grid-5-items {
        gap: 2rem;
    }
}

@media screen and (hover) and (min-width: 600px) and (max-width: 1023px), 
       screen and (any-hover: none) {
    #Plan div.grid-5-items {
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
    }
    #Plan div.grid-5-items > p {
        width: 75%;
    }
    #Plan div.grid-5-items > p:nth-child(even) {justify-self: right;}
}



@media screen and (hover) and (min-width: 1024px) {
    #Plan div.grid-5-items {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, fit-content);
    }
    #Plan div.grid-5-items > p {
        grid-column: span 2;
    }
    #Plan div.grid-5-items > p.offset {
        grid-column: 2 / span 2;
    }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~  Contact section  ~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.phone-email {
    text-align: center;
    position: relative;
    width: 100%;
}

.contact p {margin: 0;}
.contact h3 {margin-bottom: 0.2rem;}
.asterisk {color: red;}

#messageSent {
    opacity: 0.9;
    box-sizing: border-box;
    width: 80%;
    padding: 2rem;
    position: absolute;
    top: 10%;
    left: 10%;
}

#messageSent span {
    font-size: 3rem;
    line-height: 1.5rem;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    cursor: pointer;
}

#messageSent p {
    color: var(--blueDk);
    font-size: 1.5rem;
    text-align: center;
}

form {
    width: 100%;
    margin: 0 auto;
}

fieldset {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    position: relative;
}

.inputText, .labelText {
    display: block;
    width: 100%;
}

.inputText {padding: 0.3rem 0.5rem;}

#buttonsWrapper {
    display: flex;
    justify-content: center;
    gap: 3vw;
    width: 100%;
    margin: 3vw 0;
}

#buttonsWrapper button {
    width: 35vw;
    padding: 0.2rem 0;
}

#disclaimer {
    font-size: 0.8em;
    font-style: italic;
    width: 90%;
    margin: auto;
}


/* Mobile, in landscape */

@media screen and (any-hover: none) and (orientation: landscape) {
    .phone-email {
        display: flex;
        justify-content: space-around;
        width: 100%;
        }    
    #buttonsWrapper button {
        width: 25vw;
        padding: 0.2rem 0;
    }
}


/* Desktop */

    /* Desktop, any width */

@media screen and (any-hover: hover) {
    .inputText, .labelText {margin: 0 auto;}
    #buttonsWrapper {
        margin: 10px 0; 
        justify-content: center; 
    }
}
    
    /* Desktop, screen width up to 600px */

@media screen and (any-hover: hover) and (max-width: 599px) {
    form, fieldset, #buttonsWrapper {width: 400px;}
    .inputText, .labelText {width: 390px;}    
    #buttonsWrapper button {
        width: 195px; 
        margin: 10px 5px;
    }    
}

    /* Desktop, screen width 600px to 786px */

@media screen and (any-hover: hover) and (min-width: 600px) and (max-width: 785px) {
    form, fieldset, #buttonsWrapper {width: 550px;}
    .inputText, .labelText {width: 520px;}    
    #buttonsWrapper button {
        width: 260px; 
        margin: 10px 15px;
    }    
}

    /* Desktop, screen width 786px and above */

    @media screen and (any-hover: hover) and (min-width: 786px){
        .phone-email {
            display: flex;
            justify-content: space-around;
            width: 100%;
                }    
        #nameAndEmail {
            display: grid;
            grid-template-columns: 45% 45%;
            gap: 10%;
        }
    }
        
    /* Desktop, screen width 786px to 1000px */

@media screen and (any-hover: hover) and (min-width: 786px) and (max-width: 1023px) {
    form, fieldset, #buttonsWrapper {width: 700px;}
    .inputText, .labelText {width: 650px;}    
    #nameAndEmail {
        width: 650px;
        margin: 0 auto;
        display: flex;
        gap: 10px;
    }
    #nameAndEmail label, #nameAndEmail input {width: 320px;}
    #buttonsWrapper {gap: 10px;}
    #buttonsWrapper button {
        width: 325px; 
        margin: 10px 0;
    }    
    #buttonsWrapper button:nth-child(1) {margin-left: 25px;}
    #buttonsWrapper button:nth-last-child(1) {margin-right: 25px;}
}

    /* Desktop, screen width 1000px and above */

@media screen and (any-hover: hover) and (min-width: 1024px) {
    form, fieldset, #buttonsWrapper, #nameAndEmail {width: 800px;}
    .inputText, .labelText {width: 730px;}    
    #buttonsWrapper button {
        width: 365px;
        margin: 10px 35px;
    }    
    form, fieldset, #buttonsWrapper {width: 800px;}
    .inputText, .labelText {width: 730px;}    
    #nameAndEmail {
        width: 730px;
        margin: 0 auto;
        display: flex;
        gap: 20px;
    }
    #nameAndEmail label, #nameAndEmail input {width: 355px;}
    #buttonsWrapper {gap: 20px;}
    #buttonsWrapper button {
        width: 355px; 
        margin: 10px 0;
    }    
    #buttonsWrapper button:nth-child(1) {margin-left: 25px;}
    #buttonsWrapper button:nth-last-child(1) {margin-right: 25px;}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~  Footer ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {margin: 10vh 0;}

footer p {
    text-align: center;
    font-size: 1rem;
    margin: 0.3em 0;
}    
.greengeeks img {
    height: 60px;
    width: auto;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
}    


/* Desktop */

@media screen and (any-hover: hover) {
    .greengeeks img {
        width: 90px;
        height: auto;
        display: block;
        left: 0;
        right: 0;
        margin: auto;
    }    
    .greengeeks a {
        display: block;
        left: 0;
        right: 0;
        margin: auto;
    }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~  Mode buttons  ~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#modes {
    z-index: 3;
    position: fixed;
    bottom: 0;
    margin: var(--hud-padding-desktop);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px #000000 inset;
}

.mode-button {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: blue;
}
@media (hover) {
    .mode-button {
        height: 17px;
        width: 17px;
    }
}
#modes {
    background-color: #44444488;
    outline: 2px solid #88888888;
}

.mode-button.active {
    outline: 6px solid #888888;
}



#modes #lightmode {
    background-color: #F8FFAA;
    border: 1px solid #F8FFAA;
    background-image: url(../img/shining-sun-svgrepo-com.svg);
    background-size: contain;
}
#modes #darkmode {
    background-color: #000000;
    border: 1px solid #000000;
    background-image: url(../img/basic-moon-svgrepo-com.svg);
    background-size: contain;
}
.mode-button.active {
    box-shadow: 0 0 3px 7px black;
}
#modes #mysterymode {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-image: url(../img/question-mark-svgrepo-com.svg);
    background-size: contain;
    display: none;
}
#modes #redmode {
    background-color: #FF0000;
}
#modes #greenmode {
    background-color: #00FF00;
}
#modes #bluemode {
    background-color: #0000FF;
}


.modeButton svg {
}

.modeButton .hoverText {
    visibility: hidden;
}


/* Mobile, landscape orientation */

@media screen and (any-hover: none) and (orientation: landscape) {
    #modes {align-items: center;    
    }
    .modeButton {
    }
    .modeButton svg {
    }
}


/* Desktop */

@media screen and (any-hover: hover) {
    #modes {
        align-items: center;    
    }

    .modeButton {
    }
    .modeButton svg {
    }
    .modeButton:hover .hoverText {visibility: visible;}
}