/* ~~~~~~~~~~~  Contents ~~~~~~~~~~ */

/* - Site-wide settings */
/* - Site-wide typography */
/* - Footer */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~ Site-wide settings ~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

:root {
    --hud-padding-mobile: 1vh;
    --hud-padding-desktop: 1rem;
    --section-padding-desktop: 15px;
    --badge-height: 2rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
}
section {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 4rem;
}
.section-text-contents {
    margin: 0 auto;
    padding: 5vh 2vw 5vh 2vw;
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {
        padding: 8vh 8vw 8vh 10vw;
    }
    @media screen and (hover)  {
        padding: 4rem var(--section-padding-desktop) 2rem var(--section-padding-desktop);
    }
    @media screen and (hover) and (max-width: 599px) {
        width: 400px;
    }
    @media screen and (hover) and (min-width: 600px) and (max-width: 785px) {
        width: 550px;
    }
    @media screen and (hover) and (min-width: 786px) and (max-width: 1023px) {
        width: 700px;
    }
    @media screen and (hover) and (min-width: 1024px),
      screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        width: 960px;
    }
    @media screen and (any-hover: none) and (orientation: portrait) and (min-width: 786px),
      screen and (any-hover: none) and (orientation: landscape) and (min-height: 786px) {
        width: 80vw; 
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Site-wide typography ~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {font-family: "Roboto Mono", monospace;}

.subheading {   /* Class is used on hgroups */
    text-align: center;
    padding: 2.5vh;
    @media screen and (hover) {
        padding: 1rem;
    }
}
h2 {
    font-family: "Cooper Black";
    font-size: 1.8rem; 
    margin-bottom: 2.5vh;
    @media screen and (hover) {
        font-size: 3rem;
    }
    @media screen and (hover: none) and (orientation: portrait) and (min-width: 786px) {
        font-size: 8vw;
    }
    @media screen and (hover: none) and (orientation: landscape) and (min-height: 786px) {
        font-size: 8vh;
    }
}
h3 {
    font-size: 1.6rem;
    font-family: "Cooper Black";
    margin-top: 2rem;
    @media screen and (hover: none) and (orientation: portrait) and (min-width: 786px) {
        font-size: 4vw;
    }
    @media screen and (hover: none) and (orientation: landscape) and (min-height: 786px) {
        font-size: 4vh;
    }
}
section:not(#Home) p, li {
    font-size: 0.9rem; 
    @media screen and (hover) {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
    @media screen and (hover: none) and (orientation: portrait) and (min-width: 786px) {
        font-size: 2vw;
    }
    @media screen and (hover: none) and (orientation: landscape) and (min-height: 786px) {
        font-size: 2vh;
    }
}
li {
    padding: 0.3rem 0;
}
a {color: inherit;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~  Footer ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
    padding: 5vh 0;
    @media screen and (any-hover: none) and (orientation: landscape) and (max-height: 785px) {
        margin: 10vh 0;
    }
}
footer p {
    text-align: center;
    font-size: 0.8rem;
}    
.greengeeks img {
    height: 60px;
    width: auto;
    display: block;
    margin: auto;
    @media screen and (hover) {
        width: 90px;
        height: auto;
    }    
}    